*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* temporary styles for structural html */

*{
    padding: 0.5rem;
    border: 2px solid rgb(225,225,225);
}

body { border: none;}
html{ border: none;}


/* Image Styles */

.bg-image{
    background-image: url(/images/the-sleep-co-bed.jpg)
    background-size: cover;
    min-height: 10rem;
}

/* --------------------------- universal styles and utility classes ------------------------ */

/*-------- Padding Utility Classes --------*/

.padded {padding: 5%;}
.padded-sm {background-color: #}

.bg-dark {background-color: #}